<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
	2018.06.28	bks	OPENPOP V2 최초작업
-->
<mapper namespace="omc.spop.dao.ObjectAnalysisDao">	

	<select id="ObjectChangeAnalysisChartList" parameterType="map" resultType="map">
		/* ObjectAnalysisDao.ObjectChangeAnalysisChartList */
		WITH CD_HIST AS
		(
			SELECT CD,
				 (CASE 
					 WHEN CD = '1' THEN 'CREATE'
					 WHEN CD = '2' THEN 'MODIFY'
					 WHEN CD = '3' THEN 'DROP'
				 END) CD_NM
			FROM CD 
			WHERE GRP_CD_ID = '1038'
		)
		,HISTORY AS 
		(
			SELECT C.CD, 'TABLE_'||C.CD_NM GUBUN, COUNT(OWNER) CNT, 1 ORDERED
			FROM CD_HIST C, DB_TABLE_HISTORY H
			WHERE C.CD = H.OBJECT_CHANGE_TYPE_CD(+)
			AND H.DBID(+) = #{dbid}
			<choose>
				<when test="base_day_gubun eq 1">
					AND H.BASE_DAY = #{base_day}                                                            /* 전일변경 */
				</when>
				<when test="base_day_gubun eq 2">
					AND H.BASE_DAY > TO_CHAR(TO_DATE(#{base_day}, 'YYYYMMDD') - 7, 'YYYYMMDD')               /* 최근 1주일변경 */
				</when>
				<when test="base_day_gubun eq 3">
					AND H.BASE_DAY > TO_CHAR(ADD_MONTHS(TO_DATE(#{base_day}, 'YYYYMMDD'), -1), 'YYYYMMDD')   /* 최근 1개월변경 */
				</when>
			</choose>			
			GROUP BY C.CD, C.CD_NM
			UNION ALL
			SELECT C.CD, 'COLUMN_'||C.CD_NM, COUNT(OWNER) CNT, 2 ORDERED
			FROM CD_HIST C, DB_TAB_COLUMN_HISTORY H
			WHERE C.CD = H.OBJECT_CHANGE_TYPE_CD(+)
			AND H.DBID(+) = #{dbid}
			<choose>
				<when test="base_day_gubun eq 1">
					AND H.BASE_DAY = #{base_day}                                                            /* 전일변경 */
				</when>
				<when test="base_day_gubun eq 2">
					AND H.BASE_DAY > TO_CHAR(TO_DATE(#{base_day}, 'YYYYMMDD') - 7, 'YYYYMMDD')               /* 최근 1주일변경 */
				</when>
				<when test="base_day_gubun eq 3">
					AND H.BASE_DAY > TO_CHAR(ADD_MONTHS(TO_DATE(#{base_day}, 'YYYYMMDD'), -1), 'YYYYMMDD')   /* 최근 1개월변경 */
				</when>
			</choose>			
			GROUP BY C.CD, C.CD_NM
			UNION ALL
			SELECT C.CD, 'INDEX_'||C.CD_NM, COUNT(OWNER) CNT, 3 ORDERED
			FROM CD_HIST C, DB_INDEX_HISTORY H
			WHERE C.CD = H.OBJECT_CHANGE_TYPE_CD(+)
			AND H.DBID(+) = #{dbid}
			<choose>
				<when test="base_day_gubun eq 1">
					AND H.BASE_DAY = #{base_day}                                                            /* 전일변경 */
				</when>
				<when test="base_day_gubun eq 2">
					AND H.BASE_DAY > TO_CHAR(TO_DATE(#{base_day}, 'YYYYMMDD') - 7, 'YYYYMMDD')               /* 최근 1주일변경 */
				</when>
				<when test="base_day_gubun eq 3">
					AND H.BASE_DAY > TO_CHAR(ADD_MONTHS(TO_DATE(#{base_day}, 'YYYYMMDD'), -1), 'YYYYMMDD')   /* 최근 1개월변경 */
				</when>
			</choose>			
			GROUP BY C.CD, C.CD_NM
		)
		SELECT GUBUN, CNT 
		FROM HISTORY
		ORDER BY ORDERED,CD	
	</select>
	
	<select id="tableChangeList" parameterType="map" resultType="objectChange">
		/* ObjectAnalysisDao.tableChangeList */
		SELECT TO_CHAR(TO_DATE(A.BASE_DAY,'YYYYMMDD'),'YYYY-MM-DD') BASE_DAY,CD.CD_NM AS CHANGE_TYPE, A.OWNER, A.TABLE_NAME, A.TABLESPACE_NAME, C.COMMENTS
		FROM DB_TABLE_HISTORY A, CD CD
           , (SELECT DBID, OWNER, TABLE_NAME, COMMENTS
                FROM ODS_TAB_COMMENTS C
               WHERE DBID = #{dbid}
                 AND BASE_DAY = (SELECT MAX(BASE_DAY) FROM ODS_TAB_COMMENTS WHERE DBID = C.DBID)
             ) C
		WHERE 1 = 1
		AND A.OBJECT_CHANGE_TYPE_CD = CD.CD
		AND CD.GRP_CD_ID = '1038'
		AND A.DBID = C.DBID(+)
		AND A.OWNER = C.OWNER(+)
		AND A.TABLE_NAME = C.TABLE_NAME(+)
		<choose>
			<when test="base_day_gubun eq 1">
				AND A.BASE_DAY = #{base_day}                                                            /* 전일변경 */
			</when>
			<when test="base_day_gubun eq 2">
				AND A.BASE_DAY > TO_CHAR(TO_DATE(#{base_day}, 'YYYYMMDD') - 7, 'YYYYMMDD')               /* 최근 1주일변경 */
			</when>
			<when test="base_day_gubun eq 3">
				AND A.BASE_DAY > TO_CHAR(ADD_MONTHS(TO_DATE(#{base_day}, 'YYYYMMDD'), -1), 'YYYYMMDD')   /* 최근 1개월변경 */
			</when>
		</choose>
		AND A.DBID = #{dbid}
		ORDER BY A.BASE_DAY DESC, A.OBJECT_CHANGE_TYPE_CD, A.OWNER, A.TABLE_NAME 
	</select>
	<select id="columnChangeList_" parameterType="map" resultType="objectChange">
		SELECT '테스트' CHANGE_TYPE, '테스트' OWNER, '테스트' TABLE_NAME, '테스트'
		COLUMN_NAME, '테스트' DATA_TYPE, '테스트' DATA_LENGTH, '테스트' DATA_PRECISION,
		'테스트' DATA_SCALE, '테스트' NULLABLE, '테스트' COLUMN_ID, '테스트' COMMENTS
		FROM dual
	</select>
	<select id="columnChangeList" parameterType="map" resultType="objectChange">
		/* ObjectAnalysisDao.columnChangeList */
		SELECT TO_CHAR(TO_DATE(A.BASE_DAY,'YYYYMMDD'),'YYYY-MM-DD') BASE_DAY,CD.CD_NM AS CHANGE_TYPE, A.OWNER, A.TABLE_NAME, A.COLUMN_NAME, A.DATA_TYPE, A.DATA_LENGTH, A.DATA_PRECISION, A.DATA_SCALE, A.NULLABLE, A.COLUMN_ID, C.COMMENTS
			, (CASE WHEN BEFORE_DATA_TYPE IS NOT NULL THEN BEFORE_DATA_TYPE || '/' || BEFORE_NULLABLE ELSE '' END) AS BEFORE_COLUMN_INFO /* BEFORE_COLUMN_INFO - 전만기 추가 */
		FROM DB_TAB_COLUMN_HISTORY A, CD CD
           , (SELECT DBID, OWNER, TABLE_NAME, COLUMN_NAME, COMMENTS
                FROM ODS_COL_COMMENTS C
               WHERE DBID = #{dbid}
                 AND BASE_DAY = (SELECT MAX(BASE_DAY) FROM ODS_COL_COMMENTS WHERE DBID = #{dbid})
             ) C
		WHERE 1 = 1
		AND A.OBJECT_CHANGE_TYPE_CD = CD.CD
		AND CD.GRP_CD_ID = '1038'
		AND A.DBID = C.DBID(+)
		AND A.OWNER = C.OWNER(+)
		AND A.TABLE_NAME = C.TABLE_NAME(+)
		AND A.COLUMN_NAME = C.COLUMN_NAME(+)
		<choose>
			<when test="base_day_gubun eq 1">
				AND A.BASE_DAY = #{base_day}                                                            /* 전일변경 */
			</when>
			<when test="base_day_gubun eq 2">
				AND A.BASE_DAY > TO_CHAR(TO_DATE(#{base_day}, 'YYYYMMDD') - 7, 'YYYYMMDD')               /* 최근 1주일변경 */
			</when>
			<when test="base_day_gubun eq 3">
				AND A.BASE_DAY > TO_CHAR(ADD_MONTHS(TO_DATE(#{base_day}, 'YYYYMMDD'), -1), 'YYYYMMDD')   /* 최근 1개월변경 */
			</when>
		</choose>
		AND A.DBID = #{dbid}
		ORDER BY A.BASE_DAY DESC, A.OBJECT_CHANGE_TYPE_CD, A.OWNER, A.TABLE_NAME, A.COLUMN_NAME    
	</select>
	<select id="indexChangeList" parameterType="map" resultType="objectChange">
		/* ObjectAnalysisDao.indexChangeList */
		SELECT TO_CHAR(TO_DATE(A.BASE_DAY,'YYYYMMDD'),'YYYY-MM-DD') BASE_DAY,CD.CD_NM AS CHANGE_TYPE, A.OWNER, A.INDEX_NAME, A.INDEX_TYPE, A.UNIQUENESS, C.COLUMNS
			, BEFORE_INDEX_COLUMN_LIST AS BEFORE_COLUMNS /* BEFORE_COLUMNS 전만기 추가 */
		FROM DB_INDEX_HISTORY A, CD CD, 
		     (SELECT DBID, INDEX_OWNER, INDEX_NAME, BASE_DAY, LISTAGG(COLUMN_NAME, ', ') WITHIN GROUP(ORDER BY COLUMN_POSITION) COLUMNS
		      FROM DB_IND_COLUMN_HISTORY
		      WHERE DBID = #{dbid}
				<choose>
					<when test="base_day_gubun eq 1">
						AND BASE_DAY = #{base_day}                                                            /* 전일변경 */
					</when>
					<when test="base_day_gubun eq 2">
						AND BASE_DAY > TO_CHAR(TO_DATE(#{base_day}, 'YYYYMMDD') - 7, 'YYYYMMDD')               /* 최근 1주일변경 */
					</when>
					<when test="base_day_gubun eq 3">
						AND BASE_DAY > TO_CHAR(ADD_MONTHS(TO_DATE(#{base_day}, 'YYYYMMDD'), -1), 'YYYYMMDD')   /* 최근 1개월변경 */
					</when>
				</choose>
		      GROUP BY DBID, INDEX_OWNER, INDEX_NAME, BASE_DAY
		     ) C
		WHERE 1 = 1
		AND A.OBJECT_CHANGE_TYPE_CD = CD.CD
		AND CD.GRP_CD_ID = '1038'
		AND A.DBID = C.DBID(+)
		AND A.OWNER = C.INDEX_OWNER(+)
		AND A.INDEX_NAME = C.INDEX_NAME(+)
		AND A.BASE_DAY = C.BASE_DAY(+)
		<choose>
			<when test="base_day_gubun eq 1">
				AND A.BASE_DAY = #{base_day}                                                            /* 전일변경 */
			</when>
			<when test="base_day_gubun eq 2">
				AND A.BASE_DAY > TO_CHAR(TO_DATE(#{base_day}, 'YYYYMMDD') - 7, 'YYYYMMDD')               /* 최근 1주일변경 */
			</when>
			<when test="base_day_gubun eq 3">
				AND A.BASE_DAY > TO_CHAR(ADD_MONTHS(TO_DATE(#{base_day}, 'YYYYMMDD'), -1), 'YYYYMMDD')   /* 최근 1개월변경 */
			</when>
		</choose>
		AND A.DBID = #{dbid}
		ORDER BY A.BASE_DAY DESC, A.OBJECT_CHANGE_TYPE_CD, A.OWNER, A.INDEX_NAME  /* 전만기 변경 */
	</select>
	
</mapper>