<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
	2018.03.13	이원식	OPENPOP V2 최초작업
-->
<mapper namespace="omc.spop.dao.ParameterAnalysisDao">
	<select id="parameterRecentChangesChartList" parameterType="dbParameterHistory" resultType="dbParameterHistory">
		/* ParameterAnalysisDao.parameterRecentChangesChartList */
		SELECT DBID, DB_NAME, INST_ID, INST_NM, COUNT(*) AS CNT
		FROM
		(
			SELECT A.DBID, A.DB_NAME, B.INST_ID, B.INST_NM, C.VALUE,
				LAG(VALUE) OVER(PARTITION BY C.DBID, C.INSTANCE_NUMBER, C.PARAMETER_HASH ORDER BY C.PARAMETER_CHG_DT) PREV_VALUE,
				COUNT(*) OVER(PARTITION BY C.DBID, C.INSTANCE_NUMBER, C.PARAMETER_HASH) CNT
			FROM DATABASE A, INSTANCE B, DB_PARAMETER_HISTORY C
			WHERE A.DBID = B.DBID
			AND B.DBID = C.DBID
			AND B.INST_ID = C.INSTANCE_NUMBER
			AND C.PARAMETER_CHG_DT > ADD_MONTHS(PARAMETER_CHG_DT, -1)
            AND A.DB_OPERATE_TYPE_CD = (SELECT DEFAULT_PREF_VALUE 
                                          FROM SPOP_PREFERENCES 
                                         WHERE PREF_ID = '22001')   			
		)
		WHERE (VALUE <![CDATA[ <> ]]> PREV_VALUE OR PREV_VALUE IS NULL)
		AND CNT >= 2
		GROUP BY DBID, DB_NAME, INST_ID, INST_NM
		ORDER BY DB_NAME, INST_NM	
	</select>
	
	<select id="parameterRecentChangesDetailList_20180820" parameterType="dbParameterHistory" resultType="dbParameterHistory">
		/* ParameterAnalysisDao.parameterRecentChangesDetailList_20180820 */
		SELECT DBID, DB_NAME, INST_ID, PARAMETER_NAME, VALUE, TO_CHAR(PARAMETER_CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS PARAMETER_CHG_DT
		FROM
		(
			SELECT A.DBID, A.DB_NAME, B.INST_ID, C.PARAMETER_HASH, C.PARAMETER_NAME, C.PARAMETER_CHG_DT, C.VALUE,
				LAG(VALUE) OVER(PARTITION BY C.DBID, C.INSTANCE_NUMBER, C.PARAMETER_HASH ORDER BY C.PARAMETER_CHG_DT) PREV_VALUE,
				COUNT(*) OVER(PARTITION BY C.DBID, C.INSTANCE_NUMBER, C.PARAMETER_HASH) CNT
			FROM DATABASE A, INSTANCE B, DB_PARAMETER_HISTORY C
			WHERE A.DBID = B.DBID
			AND B.DBID = C.DBID
			AND B.INST_ID = C.INSTANCE_NUMBER
			AND A.DBID = #{dbid}
			AND B.INST_ID = #{inst_id}
			AND C.PARAMETER_CHG_DT > ADD_MONTHS(PARAMETER_CHG_DT, -1)
		)
		WHERE (VALUE <![CDATA[ <> ]]> PREV_VALUE OR PREV_VALUE IS NULL)
		AND CNT >= 2
		ORDER BY PARAMETER_NAME, PARAMETER_CHG_DT	
	</select>
	
	<select id="parameterRecentChangesDetailList" parameterType="dbParameterHistory" resultType="dbParameterHistory">
		/* ParameterAnalysisDao.parameterRecentChangesDetailList */
		SELECT ID,DBID, DB_NAME, INST_ID,
		       PARAMETER_NAME,
		       VALUE,
		       PARAMETER_CHG_DT,
		       (CASE WHEN ID = PARENT_ID THEN -1 ELSE PARENT_ID END) P_ID
		FROM 
		(
		    SELECT ROWNUM ID, DBID, DB_NAME, INST_ID, PARAMETER_NAME, VALUE, 
		           PARAMETER_CHG_DT,
		           FIRST_VALUE(ID) OVER(PARTITION BY PARAMETER_NAME ORDER BY PARAMETER_CHG_DT DESC) PARENT_ID
		    FROM 
		    (
				SELECT ROWNUM ID, DBID, DB_NAME, INST_ID, PARAMETER_NAME, VALUE, PARAMETER_CHG_DT
				FROM
				(
					SELECT DBID, DB_NAME, INST_ID, PARAMETER_NAME, VALUE, TO_CHAR(PARAMETER_CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS PARAMETER_CHG_DT
					FROM
					(
						SELECT A.DBID, A.DB_NAME, B.INST_ID, C.PARAMETER_HASH, C.PARAMETER_NAME, C.PARAMETER_CHG_DT, C.VALUE,
							LAG(VALUE) OVER(PARTITION BY C.DBID, C.INSTANCE_NUMBER, C.PARAMETER_HASH ORDER BY C.PARAMETER_CHG_DT DESC) PREV_VALUE,
							COUNT(*) OVER(PARTITION BY C.DBID, C.INSTANCE_NUMBER, C.PARAMETER_HASH) CNT
						FROM DATABASE A, INSTANCE B, DB_PARAMETER_HISTORY C
						WHERE A.DBID = B.DBID
						AND B.DBID = C.DBID
						AND B.INST_ID = C.INSTANCE_NUMBER
						AND A.DBID = #{dbid}
						AND B.INST_ID = #{inst_id}
						AND C.PARAMETER_CHG_DT > ADD_MONTHS(PARAMETER_CHG_DT, -1)
					)
					WHERE (VALUE <![CDATA[ <> ]]> PREV_VALUE OR PREV_VALUE IS NULL)
					AND CNT >= 2
					ORDER BY PARAMETER_NAME, PARAMETER_CHG_DT DESC
				)
		    )
		)
		ORDER BY ID					
	</select>
	
	<select id="standardParameterCompChartList" parameterType="dbParameterHistory" resultType="dbParameterHistory">
		/* ParameterAnalysisDao.standardParameterCompChartList */
		WITH PARAM AS
		(
			SELECT A.DBID, B.DB_NAME, C.INST_NM, A.INSTANCE_NUMBER, A.PARAMETER_HASH, A.PARAMETER_NAME, A.VALUE 
			FROM
			(
				SELECT DBID,
					INSTANCE_NUMBER, 
					PARAMETER_HASH,
					PARAMETER_NAME, 
					VALUE,
					ROW_NUMBER() OVER(PARTITION BY DBID, INSTANCE_NUMBER, PARAMETER_HASH ORDER BY PARAMETER_CHG_DT DESC) SEQ
				FROM DB_PARAMETER_HISTORY
			) A, DATABASE B, INSTANCE C
			WHERE A.DBID = B.DBID
			AND A.DBID = C.DBID
			AND A.INSTANCE_NUMBER = C.INST_ID
			AND A.SEQ = 1
            AND B.DB_OPERATE_TYPE_CD = (SELECT DEFAULT_PREF_VALUE 
                                          FROM SPOP_PREFERENCES 
                                         WHERE PREF_ID = '22001')   			
		), DIFF_PARAM AS
		(
			SELECT A.DBID, A.DB_NAME, A.INSTANCE_NUMBER, A.INST_NM, A.PARAMETER_HASH, A.PARAMETER_NAME, A.VALUE DB_VALUE, B.VALUE STANDARD_VALUE
			FROM PARAM A, STANDARD_DB_PARAMETER B
			WHERE A.PARAMETER_NAME = B.PARAMETER_NAME
			AND A.VALUE <![CDATA[ <> ]]> B.VALUE
		)    
		SELECT DBID, DB_NAME, INSTANCE_NUMBER AS INST_ID, UPPER(INST_NM) AS INST_NM, COUNT(*) CNT
		FROM DIFF_PARAM
		GROUP BY DBID, DB_NAME, INSTANCE_NUMBER, INST_NM
		ORDER BY INST_NM	
	</select>
	
	<select id="standardParameterCompDetailList" parameterType="dbParameterHistory" resultType="dbParameterHistory">
		/* ParameterAnalysisDao.standardParameterCompDetailList */
		WITH PARAM AS
		(
			SELECT DBID, INST_ID, PARAMETER_HASH, PARAMETER_NAME, VALUE 
			FROM
			(
				SELECT DBID,INSTANCE_NUMBER INST_ID, PARAMETER_HASH,
					PARAMETER_NAME, 
					VALUE,
					ROW_NUMBER() OVER(PARTITION BY PARAMETER_HASH ORDER BY PARAMETER_CHG_DT DESC) SEQ
				FROM DB_PARAMETER_HISTORY
				WHERE DBID = #{dbid}
				AND INSTANCE_NUMBER = #{inst_id}
			)  
			WHERE SEQ = 1
		), DIFF_PARAM AS
		(
			SELECT A.DBID, A.INST_ID, A.PARAMETER_NAME, A.VALUE DB_VALUE, B.VALUE STANDARD_VALUE
			FROM PARAM A,
			STANDARD_DB_PARAMETER B
			WHERE A.PARAMETER_NAME = B.PARAMETER_NAME
			AND A.VALUE <![CDATA[ <> ]]> B.VALUE
		)    
		SELECT *
		FROM DIFF_PARAM
		ORDER BY PARAMETER_NAME
	</select>	
	
	<select id="instanceParameterCompChartList" parameterType="dbParameterHistory" resultType="dbParameterHistory">
		/* ParameterAnalysisDao.instanceParameterCompChartList */
		WITH PARAM AS
		(
			SELECT A.DB_NAME, C.DBID, C.INSTANCE_NUMBER, PARAMETER_HASH, PARAMETER_NAME, VALUE, B.INST_NM,
				LAG(VALUE) OVER(PARTITION BY C.DBID, C.PARAMETER_HASH ORDER BY C.INSTANCE_NUMBER) PREV_VALUE
			FROM DATABASE A, INSTANCE B, 
			(
				SELECT DBID, INSTANCE_NUMBER, PARAMETER_HASH, PARAMETER_NAME, VALUE 
				FROM
				(
					SELECT DBID,
						INSTANCE_NUMBER, 
						PARAMETER_HASH,
						PARAMETER_NAME, 
						VALUE,
						ROW_NUMBER() OVER(PARTITION BY DBID, INSTANCE_NUMBER, PARAMETER_HASH ORDER BY PARAMETER_CHG_DT DESC) SEQ
					FROM DB_PARAMETER_HISTORY
					WHERE PARAMETER_NAME NOT IN (SELECT PARAMETER_NAME FROM INSTANCE_DIFF_EXCEPT_PARAM)
				)
				WHERE SEQ = 1
			) C
			WHERE A.DBID = B.DBID
			AND B.DBID = C.DBID
			AND B.INST_ID = C.INSTANCE_NUMBER
            AND A.DB_OPERATE_TYPE_CD = (SELECT DEFAULT_PREF_VALUE 
                                          FROM SPOP_PREFERENCES 
                                         WHERE PREF_ID = '22001')  
		), DIFF_PARAM AS
		(
			SELECT DISTINCT DBID, DB_NAME, PARAMETER_HASH
			FROM PARAM
			WHERE VALUE <![CDATA[ <> ]]> PREV_VALUE
		)
		SELECT DBID, DB_NAME, COUNT(*) CNT
		FROM DIFF_PARAM	
		GROUP BY DBID, DB_NAME
	</select>
	
	<select id="instanceParameterCompDetailList" parameterType="dbParameterHistory" resultType="dbParameterHistory">
		/* ParameterAnalysisDao.instanceParameterCompDetailList */
		WITH PARAM AS
		(
			SELECT C.DBID, C.INST_ID, C.INSTANCE_NUMBER, PARAMETER_HASH, PARAMETER_NAME, VALUE, B.INST_NM,
				LAG(VALUE) OVER(PARTITION BY C.PARAMETER_HASH ORDER BY C.INSTANCE_NUMBER) PREV_VALUE
			FROM DATABASE A, INSTANCE B, 
			(
				SELECT DBID, INSTANCE_NUMBER INST_ID, INSTANCE_NUMBER, PARAMETER_HASH, PARAMETER_NAME, VALUE 
				FROM
				(
					SELECT DBID,
						INSTANCE_NUMBER, 
						PARAMETER_HASH,
						PARAMETER_NAME, 
						VALUE,
						ROW_NUMBER() OVER(PARTITION BY DBID, INSTANCE_NUMBER, PARAMETER_HASH ORDER BY PARAMETER_CHG_DT DESC) SEQ
					FROM DB_PARAMETER_HISTORY
					WHERE DBID = #{dbid}
				)
				WHERE SEQ = 1
			) C
			WHERE A.DBID = B.DBID
			AND B.DBID = C.DBID
			AND B.INST_ID = C.INSTANCE_NUMBER
			AND A.DBID = #{dbid}
		), DIFF_PARAM AS
		(
			SELECT DISTINCT PARAMETER_HASH
			FROM PARAM
			WHERE VALUE <![CDATA[ <> ]]> PREV_VALUE
		), DIFF_PARAM_DETAIL AS 
		(
			SELECT DBID, INST_ID, INSTANCE_NUMBER, PARAMETER_NAME, VALUE
			FROM PARAM
			WHERE PARAMETER_HASH IN (SELECT PARAMETER_HASH FROM DIFF_PARAM)
			ORDER BY PARAMETER_NAME, INSTANCE_NUMBER
		)
		/* ROW TYPE */
		SELECT *
		FROM DIFF_PARAM_DETAIL	
	</select>
	
	<select id="parameterChangeHistoryList" parameterType="odsHistParameter" resultType="odsHistParameter">
		/* ParameterAnalysisDao.parameterChangeHistoryList */
		SELECT ID, 
				DBID,
		       PARAMETER_NAME,
		       VALUE,
		       MODIFY_TIME,
		       (CASE WHEN ID = PARENT_ID THEN -1 ELSE PARENT_ID END) P_ID
		FROM (
		    SELECT ROWNUM ID, DBID, PARAMETER_NAME, VALUE, 
		           TO_CHAR(PARAMETER_CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS MODIFY_TIME,
		           FIRST_VALUE(ID) OVER(PARTITION BY PARAMETER_NAME ORDER BY PARAMETER_CHG_DT DESC) PARENT_ID
		    FROM (
		        SELECT ROWNUM ID,
		        		DBID,
		               PARAMETER_NAME,
		               VALUE,
		               PARAMETER_CHG_DT
		        FROM (
		            SELECT DBID, PARAMETER_NAME,
		                   VALUE,
		                   PARAMETER_CHG_DT
		            FROM DB_PARAMETER_HISTORY
		            WHERE DBID = TO_NUMBER(REPLACE(#{dbid}, ',', ''))
		            AND INSTANCE_NUMBER = #{inst_id}
		            <if test="parameter_name != null and parameter_name != ''">
						AND PARAMETER_NAME LIKE REPLACE('%'||#{parameter_name}||'%', '_', '\_') ESCAPE '\'
		            </if>
		            ORDER BY PARAMETER_NAME, PARAMETER_CHG_DT DESC NULLS FIRST
		            )
		    )
		)
		ORDER BY PARENT_ID, MODIFY_TIME DESC
	</select>
</mapper>